<!-- component.html -->
<app-nav-bar></app-nav-bar>

<div class="container1">
  <div class="row">
    <div class="left col-md-4 col">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Start state</mat-label>
          <mat-select
            formControlName="startState"
            (selectionChange)="updateStartCities()"
          >
            <mat-option *ngFor="let choice of startStates" [value]="choice">
              {{ choice }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Start city</mat-label>
          <mat-select
            formControlName="startCity"
            (selectionChange)="updateStartStations()"
          >
            <mat-option *ngFor="let choice of startCities" [value]="choice">
              {{ choice }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Start station</mat-label>
          <mat-select formControlName="startStation">
            <mat-option *ngFor="let choice of startStations" [value]="choice">
              {{ choice }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Ending State</mat-label>
          <mat-select
            formControlName="endState"
            (selectionChange)="updateEndCities()"
          >
            <mat-option *ngFor="let choice of endStates" [value]="choice">
              {{ choice }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Ending city</mat-label>
          <mat-select
            formControlName="endCity"
            (selectionChange)="updateEndStations()"
          >
            <mat-option *ngFor="let choice of endCities" [value]="choice">
              {{ choice }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Ending station</mat-label>
          <mat-select formControlName="endStation">
            <mat-option *ngFor="let choice of endStations" [value]="choice">
              {{ choice }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
          <input
            matInput
            name="selected_time_B"
            [format]="24"
            formControlName="time"
            [ngxMatTimepicker]="pickerB"
            placeholder="16:00"
            readonly
          />
          <mat-icon matSuffix (click)="pickerB.open()"> watch_later </mat-icon>
        </mat-form-field>

        <ngx-mat-timepicker color="accent" #pickerB></ngx-mat-timepicker>
        <br />
        <button class="btn btn-primary btn1" mat-raised-button>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
          Locate your bus
        </button>
      </form>
    </div>
    <section class="right col">
      <div class="row" *ngIf="busList">
        <div class="col col-md-4" *ngFor="let bus of busList">
          <product
            [src]="bus.imagePath"
            [time]="bus.time"
            [name]="bus.busName"
            [plate]="bus.busPlate"
          ></product>
        </div>
      </div>
    </section>
  </div>
</div>

<app-footer></app-footer>
<product></product>
