<!-- component.html -->
<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="left">
      <form [formGroup]="form"  (ngSubmit)="onSubmit()" >
        <mat-form-field>
          <mat-label>Start state</mat-label>
          <mat-select formControlName="startState"  (selectionChange)="updateStartCities()"  >
            <mat-option *ngFor="let choice of startStates" [value]="choice" >
              {{ choice }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Start city</mat-label>
          <mat-select formControlName="startCity" (selectionChange)="updateStartStations()">
            <mat-option *ngFor="let choice of startCities" [value]="choice">
              {{ choice }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Start station</mat-label>
          <mat-select formControlName="startStation">
            <mat-option *ngFor="let choice of startStations" [value]="choice">
              {{ choice }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Ending State</mat-label>
          <mat-select formControlName="endState" (selectionChange)="updateEndCities()">
            <mat-option *ngFor="let choice of endStates" [value]="choice">
              {{ choice }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Ending city</mat-label>
          <mat-select formControlName="endCity" (selectionChange)="updateEndStations()">
            <mat-option *ngFor="let choice of endCities" [value]="choice">
              {{ choice }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Ending station</mat-label>
          <mat-select formControlName="endStation">
            <mat-option *ngFor="let choice of endStations" [value]="choice">
              {{ choice }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field>
          <input matInput
                 name="selected_time_B"
                 [format]="24"
                 formControlName="time"
                 [ngxMatTimepicker]="pickerB"
                 placeholder="16:00"
                 readonly />
          <mat-icon matSuffix
                    (click)="pickerB.open()">
            watch_later
          </mat-icon>
        </mat-form-field>
        <ngx-mat-timepicker color="accent"
                          #pickerB></ngx-mat-timepicker>
        <br>
        <button mat-raised-button >Locate your bus</button>
      </form>
    </div>
    <div class="right" *ngIf="searchData">
          <div class="a-box" *ngFor="let  item of busTimes">
            <div class="img-container">
              <div class="img-inner">
                <div class="inner-skew">
                  <img src="assets/img/busImage.jpg">
                </div>
              </div>
            </div>
            <div class="text-container">
              <div class="cardTime">{{item}}</div>
              <button mat-mini-fab color="accent" id="submitBtn">Details</button>

            </div>
          </div>

  </div>
</div>
