<!-- component.html -->
<app-nav-bar></app-nav-bar>

<div class="container1">
  <div class="row">
    <div class="left col-md-4 col">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Start state</mat-label>
          <mat-select
            formControlName="startState"
            (selectionChange)="updateStartCities()"
          >
            <mat-option *ngFor="let choice of startStates" [value]="choice">
              {{ choice }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Start city</mat-label>
          <mat-select
            formControlName="startCity"
            (selectionChange)="updateStartStations()"
          >
            <mat-option *ngFor="let choice of startCities" [value]="choice">
              {{ choice }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Start station</mat-label>
          <mat-select formControlName="startStation">
            <mat-option *ngFor="let choice of startStations" [value]="choice">
              {{ choice }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Ending State</mat-label>
          <mat-select
            formControlName="endState"
            (selectionChange)="updateEndCities()"
          >
            <mat-option *ngFor="let choice of endStates" [value]="choice">
              {{ choice }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Ending city</mat-label>
          <mat-select
            formControlName="endCity"
            (selectionChange)="updateEndStations()"
          >
            <mat-option *ngFor="let choice of endCities" [value]="choice">
              {{ choice }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Ending station</mat-label>
          <mat-select formControlName="endStation">
            <mat-option *ngFor="let choice of endStations" [value]="choice">
              {{ choice }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
          <input
            matInput
            name="selected_time_B"
            [format]="24"
            formControlName="time"
            [ngxMatTimepicker]="pickerB"
            placeholder="16:00"
            readonly
          />
          <mat-icon matSuffix (click)="pickerB.open()"> watch_later </mat-icon>
        </mat-form-field>

        <ngx-mat-timepicker color="accent" #pickerB></ngx-mat-timepicker>
        <br />
        <button mat-raised-button>Locate your bus</button>
      </form>
    </div>
    <section class="right col">
      <div class="row" *ngIf="busList">
        <div class="col col-md-4" *ngFor="let bus of busList">
          <product
            [src]="bus.imagePath"
            [name]="bus.time"
            [title]="bus.busName"
          ></product>
        </div>
      </div>
    </section>
  </div>
</div>

<app-footer></app-footer>
<product></product>
