<div class="container modal-body">
  <div class="cookiesContent" id="cookiesPopup">
    <button (click)="hide()" class="close">✖</button>
    <h2>Write your Review</h2>

    <textarea
      class="form-control contact-message"
      id="message"
      name="message"
      rows="6"
    ></textarea>
    <rating
      class="rating"
      style="color: #0275d8; font-size: 40px"
      [(ngModel)]="rate"
      [max]="max"
      [readonly]="isReadonly"
    >
    </rating>

    <button (click)="hide()" class="submit">Submit</button>
  </div>
</div>
