<div class="pure-nav main">
  <nav class="navbar navbar-light navbar-expand-md py-3">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="#"
        ><span
          class="bs-icon-sm bs-icon-rounded d-flex justify-content-center align-items-center me-2 bs-icon"
          ><img
            style="width: 100%"
            src="../assets/img/car-logo.png"
            alt="car logo" /></span
        ><span style="color: white">Kari.tn</span></a
      ><button
        data-bs-toggle="collapse"
        class="navbar-toggler"
        data-bs-target="#navcol-2"
      >
        <span class="visually-hidden">Toggle navigation</span
        ><span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-2">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#our-service">Our service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#our-team">Our team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact-us">Contact us</a>
          </li>
        </ul>
        <div class="avatar" *ngIf="loggedIn && loaded">
          <img src="https://placekitten.com/400/400" />
        </div>
        <button
          *ngIf="loggedIn && loaded"
          (click)="signOut()"
          class="btn btn-primary ms-md-2 signin"
          type="button"
        >
          SIGN out
        </button>
        <button
          *ngIf="!loggedIn && loaded"
          (click)="show()"
          class="btn btn-primary ms-md-2 signin"
          type="button"
        >
          SIGN IN
        </button>
      </div>
    </div>
  </nav>
</div>
<div
  *ngIf="parentParam"
  [style.display]="showModal ? 'block' : 'none'"
  class="modal"
  id="imagemodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <sign-in
    [childParam]="parentParam"
    (childParamChange)="onChildParamChange($event)"
  ></sign-in>
</div>
