<!-- Creates the bootstrap modal where the image will appear -->

<div
  class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
>


  <div
    class="container modal-content"
    [class.right-panel-active]="!switch1"
    id="container"
  >
    <div class="cross"> <a (click)="hide()" ><i class="fa fa-circle-xmark"> </i></a></div>
    <div class="form-container sign-up-container modal-body">

      <form [formGroup]="registerForm" (ngSubmit)="Registration()" >
        <h1>Create Account</h1>
<!--        <div class="social-container">-->
<!--          <a (click)="loginWithFacebook()"-->
<!--          ><fa-icon [icon]="faFacebook" class="social-icon"></fa-icon-->
<!--          ></a>-->
<!--&lt;!&ndash;          <a (click)="loginWithFacebook()" class="social"&ndash;&gt;-->
<!--&lt;!&ndash;            ><fa-icon [icon]="faGoogle" size="xs"></fa-icon&ndash;&gt;-->
<!--&lt;!&ndash;          ></a>&ndash;&gt;-->
<!--        </div>-->
        <span>or use your email for registration</span>
        <input
          type="text"
          formControlName="firstName"
          placeholder="First Name"
          [ngClass]="{
            'is-invalid': FirstName?.touched && FirstName?.invalid
          }"
        />
        <div *ngIf="FirstName?.touched && FirstName?.invalid" class="invalid-feedback">
          <div *ngIf="FirstName?.errors?.['required']">First Name is required</div>
        </div>
        <input
          type="text"
          formControlName="lastName"
          placeholder="Last Name"
          [ngClass]="{
            'is-invalid': LastName?.touched && LastName?.invalid
          }"
        />
        <div *ngIf="LastName?.touched && LastName?.invalid" class="invalid-feedback">
          <div *ngIf="LastName?.errors?.['required']">Last Name is required</div>
        </div>

        <input
          type="email"
          formControlName="email"
          placeholder="Email"
          [ngClass]="{
            'is-invalid': email?.touched && email?.invalid
          }"
        />
        <div *ngIf="email?.touched && email?.invalid" class="invalid-feedback">
          <div *ngIf="email?.errors?.['required']">Email is required</div>
          <div *ngIf="email?.errors?.['email']">
            Email must be a valid email address
          </div>
        </div>
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          [ngClass]="{
            'is-invalid': password?.touched && password?.invalid
          }"
        />
        <div
          *ngIf="password?.touched && password?.invalid"
          class="invalid-feedback"
        >
          <div *ngIf="password?.errors?.['required']">Password is required</div>
          <div *ngIf="password?.errors?.['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
        <button>Sign Up</button>
        <span (click)="hide()" class="glyphicon glyphicon-remove-circle"></span>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form [formGroup]="loginForm" (ngSubmit)="Authenticate()">
        <h1>Sign in</h1>
<!--        <div class="social-container">-->
<!--          <a (click)="loginWithFacebook()" class="social"-->
<!--            ><fa-icon [icon]="faFacebook" class="social-icon"></fa-icon-->
<!--          ></a>-->
<!--&lt;!&ndash;          <a href="#" class="social"><fa-icon [icon]="faGoogle"></fa-icon></a>&ndash;&gt;-->
<!--        </div>-->
        <span>or use your account</span>
        <input
          type="email"
          formControlName="email"
          placeholder="Email"
          [ngClass]="{
            'is-invalid': loginemail?.touched && loginemail?.invalid
          }"
        />
        <div
          *ngIf="loginemail?.touched && loginemail?.invalid"
          class="invalid-feedback"
        >
          <div *ngIf="loginemail?.errors?.['required']">Email is required</div>
          <div *ngIf="loginemail?.errors?.['email']">
            Email must be a valid email address
          </div>
        </div>
        <input
          type="password"
          formControlName="password"
          [ngClass]="{
            'is-invalid': loginpassword?.touched && loginpassword?.invalid
          }"
          placeholder="Password"
        />
        <div
          *ngIf="loginpassword?.touched && loginpassword?.invalid"
          class="invalid-feedback"
        >
          <div *ngIf="loginpassword?.errors?.['required']">
            Password is required
          </div>
          <div *ngIf="loginpassword?.errors?.['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
        <a href="#">Forgot your password?</a>
        <button>Sign In</button>
        <span (click)="hide()" class="glyphicon glyphicon-remove-circle"></span>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button
            class="ghost right-panel-active"
            (click)="switchfn()"
            id="signIn"
          >
            Sign In
          </button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button
            class="ghost right-panel-active"
            (click)="switchfn()"
            id="signUp"
          >
            Sign Up
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div >
  <div
    id="overlay"
    [ngStyle]="{
      background: 'rgba(0,0,0,0.5)',
      position: 'fixed',
      top: 0,
      bottom: 0,
      left: 0,
      right: 0
    }"
  ></div>
</div>

