<div class="statistics" style="visibility: visible; animation-name: fadeIn;" >
  <div class="container">
    <div class="row">
      <!-- counter -->
      <div
        class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated"
        data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;">
        <i class="fa fa-bus medium-icon"></i>
        <span id="anim-number-pizza" class="counter-number"></span>
        <span class="timer counter alt-font appear" data-to="980" data-speed="7000">0</span>
        <p class="counter-title">Registered Busses</p>
      </div>
      <!-- end counter -->
      <!-- counter -->
      <div
        class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated"
        data-wow-duration="600ms" style="visibility: visible; animation-duration: 600ms; animation-name: fadeInUp;">
        <i class="fa fa-star medium-icon"></i>
        <span class="timer counter alt-font appear" data-to="980" data-speed="7000">0</span>
        <span class="counter-title">Reviews</span>
      </div>
      <!-- end counter -->
      <!-- counter -->
      <div
        class="col-md-3 col-sm-6 bottom-margin-small text-center counter-section wow fadeInUp xs-margin-bottom-ten animated"
        data-wow-duration="900ms" style="visibility: visible; animation-duration: 900ms; animation-name: fadeInUp;">
        <i class="fa fa-map-location-dot medium-icon"></i>
        <span class="timer counter alt-font appear" data-to="810" data-speed="7000">0</span>
        <span class="counter-title">Tracked Stations</span>
      </div>
      <!-- end counter -->
      <!-- counter -->
      <div class="col-md-3 col-sm-6 text-center counter-section wow fadeInUp animated" data-wow-duration="1200ms"
           style="visibility: visible; animation-duration: 1200ms; animation-name: fadeInUp;">
        <i class="fa fa-user medium-icon"></i>
        <span class="timer counter alt-font appear" data-to="600" data-speed="7000">0</span>
        <span class="counter-title">Registred Users</span>
      </div>
      <!-- end counter -->
    </div>
  </div>
</div>
