@import '~@fortawesome/fontawesome-free/css/all.css';

.fit-cover {
  object-fit: cover;
}

.statistics {
  width: 100%;
  height: 30%;
  padding : 50px ;
  /* Rectangle 1 */
 background: linear-gradient(89.87deg, #82C3EC -36.43%, #4B56D2 100.95%);
  margin: 0;
  border-radius: 0;
  /*background: linear-gradient(62.98deg, rgba(75, 86, 210, 0.5) -0.57%, #82C3EC 74.33%);*/

}



.container-counter {
  padding: 0;
  margin: 0;
  max-width: 100%;
  border-radius: 0;
  background-color: white;

}

.counter-section i {
  display: block;
  margin: 0 0 10px;


  
}

.counter-section span.counter {
  font-size: 40px;
  color: #000;
  line-height: 60px;
  display: block;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  color: white;

}

.counter-title {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color:white
}

.counter-icon {
  top: 25px;
  position: relative;
  background-color: white;
}

.counter-style2 .counter-title {
  letter-spacing: 0.55px;
  float: left;
}

.counter-style2 span.counter {
  letter-spacing: 0.55px;
  float: left;
  margin-right: 10px;
}

.counter-style2 i {
  float: right;
  line-height: 26px;
  margin: 0 10px 0 0
}

.counter-subheadline span {
  float: right;
  
}

.medium-icon {
  font-size: 40px !important;
  margin-bottom: 15px !important;
  color: white;
}

.container {
  /*margin-top: 100px;*/

}


@media screen and (max-width: 992px) {
  .main {
    height: 750px;;
  }

  .bus-img {
    width: 300px;
  }
}
@media screen and (max-width: 765px) {
  .statistics{
    min-height: 55%;
  }
}
@media screen and (max-width: 575px) {
  .statistics{
    min-height: 100%;
  }
}
