<div class="div4">
  <div class="userdetails">
    <div class="imgbox">
      <img src="{{ src }}" alt="" />
    </div>
    <div class="detbox">
      <p class="name dark">{{ name }}</p>
      <rating
        style="color: #0275d8; font-size: 20px"
        [max]="max"
        [(ngModel)]="rate"
        [readonly]="isReadonly"
      >
      </rating>
    </div>
  </div>
  <div class="review dark">
    <h4>{{ title }}</h4>
    <p>
      {{ review }}
    </p>
  </div>
  <div class="line"></div>
</div>
