<div class="div4">
  <div class="userdetails">
    <div class="imgbox">
      <img
        src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-jeanette.jpg"
        alt=""
      />
    </div>
    <div class="detbox">
      <p class="name dark">Jeanette Harmon</p>
      <rating
        style="color: #0275d8; font-size: 20px"
        [(ngModel)]="rate"
        [max]="max"
        [readonly]="isReadonly"
      >
      </rating>
    </div>
  </div>
  <div class="review dark">
    <h4>An overall wonderful and rewarding experience</h4>
    <p>
      “ Thank you for the wonderful experience! I now have a job I really enjoy,
      and make a good living while doing something I love. ”
    </p>
  </div>
  <div class="line"></div>
</div>
