<div class="main">
  <app-nav-bar></app-nav-bar>
  <section id="home" style="width: 100%; height: 100%">
    <div class="container">
      <div>
        <div class="row gy4 gy-md-0">
          <div class="col-xl-1" style="width: 25px; padding: 0">
            <div class="rect"></div>
          </div>
          <div class="col">
            <div style="margin: 0; margin-top: 90px">
              <h1 class="Heading">KariTn<br /></h1>
              <h1 class="Heading">Saves You Time</h1>
              <p>
                A website designed and developed to improve the public transport in Tunisia
              </p>
              <div>
                <button
                  class="btn btn-primary signup"
                  (click)="show()"
                  type="button"
                >
                  SIGN UP</button
                ><button
                  class="btn btn-primary btn-demo"
                  routerLink="/search-page"
                  type="button"
                >
                  Find your Bus
                </button>
              </div>
            </div>
          </div>
          <div class="col">
            <img src="../assets/img/clipboard-image-2.png" class="bus-img" />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-statistics></app-statistics>
<div id="our-service" class="container py-4 py-xl-5">
  <div class="row mb-5">
    <div class="col-md-8 col-xl-7 text-center mx-auto">
      <h2 class="">OUR SERVICE</h2>
      <div></div>
      <p class="p-service">
        “Our page provides convenient and reliable bus time and destination
        information to help users plan their travels. With detailed schedules,
        route information, and real-time updates, we make it easy for users to
        find the information they need and get to their destination on time.”
      </p>
    </div>
  </div>
  <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
    <div class="col">
      <div
        class="text-center d-flex flex-column align-items-center align-items-xl-center"
      >
        <img src="assets/img/clipboard-image-4.png" style="width: 150px" />
        <div class="px-3">
          <h4>Always available Service</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="text-center d-flex flex-column align-items-center align-items-xl-center"
      >
        <img src="assets/img/clipboard-image-5.png" style="width: 150px" />
        <div class="px-3">
          <h4>Find your best destination</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="text-center d-flex flex-column align-items-center align-items-xl-center"
      >
        <img src="assets/img/clipboard-image-6.png" style="width: 150px" />
        <div class="px-3" style="margin-top: 0px; margin-bottom: 0px">
          <h4>Dynamic search</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="our-team" class="container py-4 py-xl-5">
  <div class="row mb-5">
    <div class="col-md-8 col-xl-8 text-center mx-auto">
      <h2>OUR TEAM</h2>
      <p>
        "Our team is dedicated to providing exceptional service to our
        customers. With a strong focus on accuracy, efficiency, and user
        experience, we work tirelessly to deliver the information and support
        our users need to make informed travel decisions. Whether you're a
        seasoned traveler or just starting out, our team is here to help."
      </p>
    </div>
  </div>
  <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
    <members
      fb="https://www.facebook.com/midou200010/"
      in="https://www.linkedin.com/in/mohamed-abdelhedi41/"
      src="assets/img/mohamed.png"
      >Mohamed Abdelhedi</members
    >
    <members
      src="assets/img/hamza.png"
      fb="https://www.facebook.com/hamza.fa1di"
      in="https://www.linkedin.com/in/hamza-faidi/"
      >Hamza Faidi</members
    >
    <members
      fb="https://www.facebook.com/bbkr.aziz21"
      in="https://www.linkedin.com/in/aziz-boubaker-687277209/"
      src="assets/img/aziz.png"
      >Aziz Boubaker</members
    >
  </div>
  <div
    class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3"
    style="margin-top: 6px"
  >
    <members
      fb="https://www.facebook.com/profile.php?id=100004536161729"
      in="https://www.linkedin.com/in/jawhar-cherif-b12571217/"
      src="assets/img/jawhar.png"
      >Jaouhar Cherif</members
    >
    <members
      fb="https://www.facebook.com/chadha.sridi.9"
      in="https://www.linkedin.com/in/chadha-sridi-456b4a224/"
      src="assets/img/chadhe.png"
      >Chadhe Sridi</members
    >
    <members
      fb="https://www.facebook.com/profile.php?id=100010248576897"
      in="https://www.linkedin.com/in/farouk-loussaief-13124a202/"
      src="assets/img/farouk.png"
      >Farouk Loussaief</members
    >
  </div>
</div>
<contact-us></contact-us>

<app-footer></app-footer>

<div
  *ngIf="parentParam"
  [style.display]="parentParam ? 'block' : 'none'"
  class="modal"
  id="imagemodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <sign-in
    [childParam]="parentParam"
    (childParamChange)="onChildParamChange($event)"
    >></sign-in
  >
</div>
