<div class="main">
<app-nav-bar></app-nav-bar>
  <section id="home" style="width: 100%; height: 100%">
    <div class="container">
      <div>
        <div class="row gy4 gy-md-0">
          <div class="col-xl-1" style="width: 25px; padding: 0">
            <div class="rect"></div>
          </div>
          <div class="col">
            <div style="margin: 0; margin-top: 90px">
              <h1 class="Heading">Ride Smart<br> </h1> <h1 class="Heading">Arrive Happy</h1>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
              <div>
                <button
                  class="btn btn-primary signup"
                  (click)="show()"
                  type="button"
                >
                  SIGN UP</button
                ><button
                  class="btn btn-primary btn-demo"
                  routerLink="/search-page"
                  type="button"
                >
                  Find your Bus
                </button>
              </div>
            </div>
          </div>
          <div class="col">
            <img src="../assets/img/clipboard-image-2.png" class="bus-img" />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-statistics></app-statistics>
<div id="our-service" class="container py-4 py-xl-5">
  <div class="row mb-5">
    <div class="col-md-8 col-xl-7 text-center mx-auto">
      <h2 class="">OUR SERVICE</h2>
      <div></div>
      <p class="p-service">
        “Our page provides convenient and reliable bus time and destination
        information to help users plan their travels. With detailed schedules,
        route information, and real-time updates, we make it easy for users to
        find the information they need and get to their destination on time.”
      </p>
    </div>
  </div>
  <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
    <div class="col">
      <div
        class="text-center d-flex flex-column align-items-center align-items-xl-center"
      >
        <img src="assets/img/clipboard-image-4.png" style="width: 120px" />
        <div class="px-3">
          <h4>Always available Service</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="text-center d-flex flex-column align-items-center align-items-xl-center"
      >
        <img src="assets/img/clipboard-image-5.png" style="width: 120px" />
        <div class="px-3">
          <h4>Find your best destination</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="text-center d-flex flex-column align-items-center align-items-xl-center"
      >
        <img src="assets/img/clipboard-image-6.png" style="width: 120px" />
        <div class="px-3" style="margin-top: 0px; margin-bottom: 0px">
          <h4>Dynamic search</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="our-team" class="container py-4 py-xl-5">
  <div class="row mb-5">
    <div class="col-md-8 col-xl-8 text-center mx-auto">
      <h2>OUR TEAM</h2>
      <p>
        "Our team is dedicated to providing exceptional service to our
        customers. With a strong focus on accuracy, efficiency, and user
        experience, we work tirelessly to deliver the information and support
        our users need to make informed travel decisions. Whether you're a
        seasoned traveler or just starting out, our team is here to help."
      </p>
    </div>
  </div>
  <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
    <members src="assets/img/clipboard-image-10.png">Mohamed Abdelhedi</members>
    <members src="assets/img/clipboard-image-10.png">Hamza Faidi</members>
    <members src="assets/img/clipboard-image-10.png">Aziz Boubaker</members>
  </div>
  <div
    class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3"
    style="margin-top: 6px"
  >
    <members src="assets/img/clipboard-image-10.png">Jaouhar Cherif</members>
    <members src="assets/img/clipboard-image-10.png">Chadhe Sridi</members>
    <members src="assets/img/clipboard-image-10.png">Farouk Loussaief</members>
  </div>
</div>
<contact-us></contact-us>

<footer class="text-center bg-dark">
  <div class="container text-white py-4 py-lg-5">
    <ul class="list-inline">
      <li class="list-inline-item me-4">
        <a class="link-light" href="#home"><br />Home</a>
      </li>
      <li class="list-inline-item me-4">
        <a class="link-light" href="#our-service"><br />Our service</a>
      </li>
      <li class="list-inline-item me-4">
        <a class="link-light" href="#our-team"><br /><br />Our team</a>
      </li>
      <li class="list-inline-item">
        <a class="link-light" href="#contact-us"><br />Contact us</a>
      </li>
    </ul>
    <ul class="list-inline">
      <li class="list-inline-item me-4">
        <img
          src="assets/img/facebook.png"
          class="social-icon social-icon-footer"
        />
      </li>
      <li class="list-inline-item me-4">
        <a href=""
          ><img
            src="assets/img/linkedin.png"
            class="social-icon social-icon-footer"
        /></a>
      </li>
      <li class="list-inline-item">
        <img
          src="assets/img/instegram.png"
          class="social-icon social-icon-footer"
        />
      </li>
    </ul>
    <p class="text-muted mb-0">Copyright © 2023 Kari.tn</p>
  </div>
</footer>

<div *ngIf="parentParam"
  [style.display]="parentParam ? 'block' : 'none'"
  class="modal"
  id="imagemodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <sign-in [childParam]="parentParam" (childParamChange)="onChildParamChange($event)">></sign-in>
</div>

