<footer class="text-center bg-dark">
  <div class="container text-white py-4 py-lg-5">
    <ul class="list-inline">
      <li class="list-inline-item me-4">
        <a class="link-light" href="#home"><br />Home</a>
      </li>
      <li class="list-inline-item me-4">
        <a class="link-light" href="#our-service"><br />Our service</a>
      </li>
      <li class="list-inline-item me-4">
        <a class="link-light" href="#our-team"><br /><br />Our team</a>
      </li>
      <li class="list-inline-item">
        <a class="link-light" href="#contact-us"><br />Contact us</a>
      </li>
    </ul>
    <ul class="list-inline">
      <li class="list-inline-item me-4">
        <img
          src="assets/img/facebook.png"
          class="social-icon social-icon-footer"
        />
      </li>
      <li class="list-inline-item me-4">
        <a href=""
          ><img
            src="assets/img/linkedin.png"
            class="social-icon social-icon-footer"
        /></a>
      </li>
      <li class="list-inline-item">
        <img
          src="assets/img/instegram.png"
          class="social-icon social-icon-footer"
        />
      </li>
    </ul>
    <p class="text-muted mb-0">Copyright © 2023 Kari.tn</p>
  </div>
</footer>
