.instegram{
    width: 24px; margin-right: 15px; margin-left: 15px
  }
  .name-img{
    width: 284px;
    padding-bottom: 15px;
    
  }
  .social-icon{
    width: 24px
  }
.name{
    color: #2b3467
  }